astroalign
astropy
astroquery
exifread
importlib_metadata
#importlib_metadata
lightkurve
lz4
matplotlib
numba
oktopus
onnxruntime
opencv_python
pandas
photutils
Pillow
plotly
psutil
PyQt6
pyqt6_sip
pyqtgraph
pytz
pyvo
rawpy
reproject
Requests
scipy
sep
scikit-image
tifffile
torch
typing_extensions
zstandard
